{% load static %}
{% load socialaccount %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <link rel="stylesheet"  media="screen and (max-width:1170px)" href="{% static 'css/mobile.css' %}">
<link rel="stylesheet" href="{% static 'css/main.css' %}">

    <title>Login</title>
  </head>
  <body>


  <div class="container mt-3">
  
  <div class="row">
  <div class="col-md-6">
  <a href="/"><img class="img-thumbnail"  src="{% static 'images/ark.png' %}" alt="" ></a>
  </div>




  <div class="col-md-4 mt-3">
  <br><br>
  <h3 class="text-white text-center">Login Here</h3>

{% for message in messages %}
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
  <strong></strong> {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

 <a  class="btn btn-sm btn-block btn-light mt-2" id="gp" href="{% provider_login_url 'google' %}">Login With <img src="https://img.icons8.com/color/30/000000/google-logo.png"/></a>

                          <p class="text-center mb-0">OR</p>
<form action="/login" method="post">{% csrf_token %}

<label class="text-white">UserName</label>
<div class="form-group">
<input type="text" class="form-control" name="username" Required>
</div>


<label class="text-white mt-2">Password</label>
<div class="form-group">
<input type="password" class="form-control" name="pass1" Required>
</div>

<div class="d-grid gap-2 mt-4">
  <button class="btn btn-light" type="submit">Login</button>

</div>


</form>
<br><br>
<p>Not a User? <a href="/signup">Signup</a></p>

  </div>
  
  
  </div>
  
  
  
  </div>
    











    

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->
  </body>
</html>